
<div class ="col-md-2 host-image mt-auto mb-auto">
  <%= attachment_image_tag  trouble.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size:"100x100", class: "rounded-circle"  %>
</div>

<div class="col-md-8 trouble-content balloon1-left rounded">
  <p><%= trouble.content %></p>
</div>

<div class="col-md-2 guest-image">
</div>