 <% if post_comment.is_thanked == false %>
   <%= link_to trouble_post_comment_path(trouble, post_comment), method: :patch, data: { confirm: "感謝します。よろしいですか？" } do %>
      <div class="thanks-post-button btn text-black ">
        <i class="far fa-heart ">感謝する!</i> 
      </div>
   <% end %>
 <% else %>
      <div class="thanks-post-button btn ">
        <i class="fas fa-heart"> 感謝済み</i>
      </div>
 <% end %>