  <div class="col-md-6 title-area rounded d-flex">
    <div class="trouble-title ml-auto">
      <strong>
      <%= trouble.title %>
      </strong>
    </div>
    <div class="title-area-right ml-auto mr-auto">
      <div class="solved-select-area">
      <% if current_user == trouble.user && trouble.is_solved == false %>
        <%= link_to trouble_status_path(trouble), method: :patch do %>
          <i class="far fa-sad-tear fa-1.5x">未解決</i>
        <% end %>
      <% elsif current_user == trouble.user && trouble.is_solved == true %>
          解決済み
      <% end %>
      </div>
      <div class="host-name">投稿者名 <%= trouble.user.name%>さん</div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="trouble-edit-link">
     <%= link_to "編集画面へ", edit_trouble_path(trouble) %>
    </div>
  </div>
  
  <div class="col-md-3">
    
  </div>
  