
<div class="search-area bg-white mx-auto mb-4" style="width: 80%">
  <%= render 'troubles/search_area', search: @search %>
</div>

<div class="trouble-index-area bg-white mr-auto ml-auto" style="width: 80%">
  <%= render 'troubles/troubles_index_area', troubles: @troubles %>
</div>

