<h1 class="page-title">自分の悩み一覧</h1>

<div class="trouble-index-area bg-white mr-auto ml-auto">
  <% if @troubles.exists? %>
  <div class="trouble-index container" style="width: 100%">
    <div class="row justify-content-center">
      <% @troubles.each do |trouble|%>
      <div class="col-md-3 m-4 border trouble-index-item ">
        <strong class="h4 border-bottom border-dark"><%= link_to trouble.title, trouble_path(trouble), class: "text-dark" %></strong>
        <p style="margin-top: 1em">コメント数: <%= trouble.post_comments.where(is_displayed: true).count %></p>
        <p>カテゴリー: <%= trouble.category.name %></p>
      </div>
      <% end %>
    </div>
  </div>
    <div class="paginate mt-3 pb-3">
    <%= paginate @troubles, theme: 'twitter-bootstrap-4'%>
    </div>
  <% else %>
    <div class="mx-auto lead text-center pt-4 pb-4" style="width: 400px;"　>
    自分の悩みはまだありません。
    </div>
  <% end%>
  
</div>