<h1>悩み詳細画面</h1>
<div class="trouble-main">
  
  <div class="trouble-title">
    <p>タイトル: <%= @trouble.title %></p>
  </div>
  
  <div class="host-image">ユーザイメージ</div>　 <!-- 後で、ユーザーのイメージを入れる-->
  
  <div class="trouble-content">
    <h5><%= @trouble.content %></h5>
  </div>
  
  
</div>

