自分のコメント一覧画面

<div class="my-comment-list">
  <% @post_comments.each do |comment| %>
    <p>悩み名: <%= link_to comment.trouble.title, trouble_path(comment.trouble) %></p>
    <p>コメント内容: <%= comment.comment.truncate(10) %></p>
    <p>いいね数: <%= comment.likes.count %>いいね</p>
  <% end %>
</div>