/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */@import "bootstrap";
   @import "font-awesome-sprockets";
   @import "font-awesome";

.fa-circle {
  color: red;
}

body {
  background-color: #f8f9fa;
}

.container {
  width: 80%;
}



// 悩み詳細画面関係

.trouble-main-area {
  border-radius: 40px;
  margin-bottom: 100px;
}

.title-area { 
  height: auto;
}

.trouble-title-left strong {
  font-size: 40px;
  line-height: 100px;
}

.fa-sad-tear {
  font-size: 25px;
  color: red;
}

.fa-smile-beam {
  font-size: 25px;
  color: green;
}

// コメント欄

// ホスト側設定
.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 37%;
  left: -85px;
  margin-top: -15px;
  border: 22px solid transparent;
  border-right: 70px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

// ゲスト側設定

.balloon1-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -22px;
  border: 22px solid transparent;
  border-left: 79px solid #e0edff;
}

.balloon1-right .balloon1-right-content {
  margin: 0;
  padding: 0;
}

.guest-image p {
     top: 105%;
    right: 3%;
}

// いいねボタン関連
.thanks-post-button {
  color: black;
  background-color: pink;
  border-color: pink;
}

.fa-heart {
  color: red;
}

// コメントフォーム欄

.new-comment-form{
  width: 100%; /* 幅 */
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 1em; /* フォントサイズ */
  border: solid 2px #e1e3e8; /* 枠線のスタイル */
  border-radius: 10px; /* 角丸に */
  resize: none; /* リサイズ不可に */
}

.new-comment-submit{

}